.about {
  padding: 2rem;

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;

    th, td {
      border: 1px solid $secondary-blue;
      padding: 0.5rem;
    }

    th {
      background: $secondary-blue;
      color: #fff;
      text-align: left;
    }
  }
}
