<header class="{% if page.url == '/' %}fixed-header{% endif %}">
  <h1>三木電気工事</h1>
  <!-- <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="会社ロゴ" /> -->
  <button class="menu-toggle" aria-controls="site-nav" aria-expanded="false" aria-label="メニューを開く">
    <span></span>
  </button>
  <nav id="site-nav">
    <ul>
      <li><a href="{{ '/' | relative_url }}">TOP</a></li>
      <li><a href="{{ '/about/' | relative_url }}">会社について</a></li>
      <li><a href="{{ '/work/' | relative_url }}">現場・作業例</a></li>
      <li><a href="{{ '/recruit/' | relative_url }}">応募・エントリー</a></li>
    </ul>
  </nav>
</header>
