body {
  font-family: $font-family;
  color: $text-color;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

section{
  padding: 2rem;
}
