// カラー・フォントなどの共通変数
$primary-color: #3498db;
$accent-color: #ffd000;
$text-color: #333;
$bg-color: #f8f8f8;
$font-family: 'Noto Sans JP', sans-serif;
$header-height: 5.5rem;
// ブレークポイント
$bp-lg: 900px;
$bp-md: 700px;
$bp-sm: 600px;
$bp-xs: 430px;
